$xlFont: clamp(1.5rem, 2.5vw, 2.5rem);
$lgFont: clamp(1rem, 2vw, 1.5rem);
$bigHeaderSize: clamp(3rem, 5vw, 5rem);
$h3Heading: clamp(1.5rem, 2.5vw, 2.5rem);

$tabletBreakpoint: 768px;

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: .7;
    }
}

@mixin colorShadow($color, $opacity: 1) {
    background-color: rgba($color, $opacity);
    box-shadow: 0 0 75px 75px rgba($color, $opacity);
}

@mixin glassMorhpism($color, $opacity: 1) {
    background-color: rgba($color, $opacity);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid lighten($color, 10%);
}

@mixin responsiveGrid($min, $max) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($min, $max));
    gap: 2rem;
}