@use "variables";

.footer {
  position: relative;
  height: fit-content;
  background-color: variables.$white;
  padding: variables.$xlFont;
  padding-top: 0;
  overflow: hidden;
  .cta {
    font-size: clamp(3rem, 5vw, 4rem);
  }
}
