.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}

.content {
    display: flex;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
