@import "./variables";

.projectPage {
    color: $blackText;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    padding: $xlFont;
    padding-top: 80px;
}