@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::selection {
    background-color: rgb(22, 22, 22);
    color: white;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

* {
    cursor: none !important;
}

.cursor {
    position: fixed;
    background-color: #ffffff;
    mix-blend-mode: difference;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 999999999;
    transform: scale(1);
    will-change: transform;

    &.active {
        opacity: 0.5;
        transform: scale(0);
    }

    &.hidden {
        opacity: 0;
    }
}

.aura {
    position: fixed;
    background-color: transparent;
    border: 2px solid #ffffff;
    mix-blend-mode: difference;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 999999999;
    transform: translate(5px, 5px);
    transform-origin: center;
    backface-visibility: hidden;

    &.active {
        opacity: 0.4;
        transform: scale(1.4);
    }
    &.hidden {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .cursor {
        display: none;
    }
    .aura {
        display: none;
    }
}