@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}